=bootstrap_form_with model: @work, local: true do |f|
  =f.text_field :title
  =f.collection_select :author_id, Author.all, :id, :name, include_blank: true, class: 'form-control '
  =f.text_field :release
  =f.text_field :description
  =f.file_field :image
  =f.submit class: "btn btn-success"
