-# .container
-#   %h2 Movie index
-#
-# .container
-#   .row.list-group
-#     -@works.each do|work|
-#       .list-group-item
-#         =link_to "#{work.title} / #{work.author.name}(#{work.release})", work_path(work)
-#
-#   .row
-#     =link_to "Create New Work", new_work_path ,class: 'btn btn-primary'



/ ======= Portfolio Section =======
%section#portfolio.portfolio
  .container
    .section-title
      %h2 Portfolio
      %p Book List
    .row
      .col-lg-12.d-flex.justify-content-center
        %ul#portfolio-flters
          %li.filter-active{"data-filter" => "*"} All
          %li{"data-filter" => ".filter-app"} App
          %li{"data-filter" => ".filter-card"} Card
          %li{"data-filter" => ".filter-web"} Web

      -@works.each do|work|
        .col-lg-4.col-md-6.portfolio-item.filter-web
          .portfolio-wrap
            =image_tag work.image_url(:thumb), class: 'img-fluid'
            -# %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-2.jpg"}/
            .portfolio-info
              %h4=link_to work.title, work_path(work)
              %p=work.author.name
              .portfolio-links
                %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-2.jpg", :title => "Web 3"}
                  %i.bx.bx-plus
                %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                  %i.bx.bx-link

      -# .col-lg-4.col-md-6.portfolio-item.filter-app
      -#   .portfolio-wrap
      -#     %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-3.jpg"}/
      -#     .portfolio-info
      -#       %h4 App 2
      -#       %p App
      -#       .portfolio-links
      -#         %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-3.jpg", :title => "App 2"}
      -#           %i.bx.bx-plus
      -#         %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
      -#           %i.bx.bx-link
      -# .col-lg-4.col-md-6.portfolio-item.filter-card
      -#   .portfolio-wrap
      -#     %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-4.jpg"}/
      -#     .portfolio-info
      -#       %h4 Card 2
      -#       %p Card
      -#       .portfolio-links
      -#         %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-4.jpg", :title => "Card 2"}
      -#           %i.bx.bx-plus
      -#         %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
      -#           %i.bx.bx-link
      -# .col-lg-4.col-md-6.portfolio-item.filter-web
      -#   .portfolio-wrap
      -#     %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-5.jpg"}/
      -#     .portfolio-info
      -#       %h4 Web 2
      -#       %p Web
      -#       .portfolio-links
      -#         %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-5.jpg", :title => "Web 2"}
      -#           %i.bx.bx-plus
      -#         %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
      -#           %i.bx.bx-link
      -# .col-lg-4.col-md-6.portfolio-item.filter-app
      -#   .portfolio-wrap
      -#     %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-6.jpg"}/
      -#     .portfolio-info
      -#       %h4 App 3
      -#       %p App
      -#       .portfolio-links
      -#         %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-6.jpg", :title => "App 3"}
      -#           %i.bx.bx-plus
      -#         %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
      -#           %i.bx.bx-link
      -# .col-lg-4.col-md-6.portfolio-item.filter-card
      -#   .portfolio-wrap
      -#     %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-7.jpg"}/
      -#     .portfolio-info
      -#       %h4 Card 1
      -#       %p Card
      -#       .portfolio-links
      -#         %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-7.jpg", :title => "Card 1"}
      -#           %i.bx.bx-plus
      -#         %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
      -#           %i.bx.bx-link
      -# .col-lg-4.col-md-6.portfolio-item.filter-card
      -#   .portfolio-wrap
      -#     %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-8.jpg"}/
      -#     .portfolio-info
      -#       %h4 Card 3
      -#       %p Card
      -#       .portfolio-links
      -#         %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-8.jpg", :title => "Card 3"}
      -#           %i.bx.bx-plus
      -#         %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
      -#           %i.bx.bx-link
      -# .col-lg-4.col-md-6.portfolio-item.filter-web
      -#   .portfolio-wrap
      -#     %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-9.jpg"}/
      -#     .portfolio-info
      -#       %h4 Web 3
      -#       %p Web
      -#       .portfolio-links
      -#         %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-9.jpg", :title => "Web 3"}
      -#           %i.bx.bx-plus
      -#         %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
      -#           %i.bx.bx-link
/ End Portfolio Section
/ ======= Contact Section =======
-# %section#contact.contact
-#   .container
-#     .section-title
-#       %h2 Contact
-#       %p Contact Me
-#     .row.mt-2
-#       .col-md-6.d-flex.align-items-stretch
-#         .info-box
-#           %i.bx.bx-map
-#           %h3 My Address
-#           %p A108 Adam Street, New York, NY 535022
-#       .col-md-6.mt-4.mt-md-0.d-flex.align-items-stretch
-#         .info-box
-#           %i.bx.bx-share-alt
-#           %h3 Social Profiles
-#           .social-links
-#             %a.twitter{:href => "#"}
-#               %i.icofont-twitter
-#             %a.facebook{:href => "#"}
-#               %i.icofont-facebook
-#             %a.instagram{:href => "#"}
-#               %i.icofont-instagram
-#             %a.google-plus{:href => "#"}
-#               %i.icofont-skype
-#             %a.linkedin{:href => "#"}
-#               %i.icofont-linkedin
-#       .col-md-6.mt-4.d-flex.align-items-stretch
-#         .info-box
-#           %i.bx.bx-envelope
-#           %h3 Email Me
-#           %p contact@example.com
-#       .col-md-6.mt-4.d-flex.align-items-stretch
-#         .info-box
-#           %i.bx.bx-phone-call
-#           %h3 Call Me
-#           %p +1 5589 55488 55
-#     %form.php-email-form.mt-4{:action => "forms/contact.php", :method => "post", :role => "form"}
-#       .form-row
-#         .col-md-6.form-group
-#           %input#name.form-control{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
-#           .validate
-#         .col-md-6.form-group
-#           %input#email.form-control{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "email"}/
-#           .validate
-#       .form-group
-#         %input#subject.form-control{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
-#         .validate
-#       .form-group
-#         %textarea.form-control{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
-#         .validate
-#       .mb-3
-#         .loading Loading
-#         .error-message
-#         .sent-message Your message has been sent. Thank you!
-#       .text-center
-#         %button{:type => "submit"} Send Message
/ End Contact Section
-# .credits
-#   / All the links in the footer should remain intact.
-#   / You can delete the links only if you purchased the pro version.
-#   / Licensing information: https://bootstrapmade.com/license/
-#   / Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
-#   Designed by
-#   %a{:href => "https://bootstrapmade.com/"} BootstrapMade
