-# .container
-#   %h2 Movie index
-#
-# .container
-#   .row.list-group
-#     -@works.each do|work|
-#       .list-group-item
-#         =link_to "#{work.title} / #{work.author.name}(#{work.release})", work_path(work)
-#
-#   .row
-#     =link_to "Create New Work", new_work_path ,class: 'btn btn-primary'

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Personal Bootstrap Template
    %meta{:content => "", :name => "descriptison"}/
    %meta{:content => "", :name => "keywords"}/
    / Favicons
    %link{:href => "assets/img/favicon.png", :rel => "icon"}/
    %link{:href => "assets/img/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i", :rel => "stylesheet"}/
    / Vendor CSS Files
    %link{:href => "assets/vendor/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/icofont/icofont.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/remixicon/remixicon.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/owl.carousel/assets/owl.carousel.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/boxicons/css/boxicons.min.css", :rel => "stylesheet"}/
    %link{:href => "assets/vendor/venobox/venobox.css", :rel => "stylesheet"}/
    / Template Main CSS File
    %link{:href => "assets/css/style.css", :rel => "stylesheet"}/
    /
      \=======================================================
      * Template Name: Personal - v2.3.0
      * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      \========================================================
  %body
    / ======= Header =======
    %header#header.header-tops
      .container
        %h1
          %a{:href => "index.html"} Emily Jones
        / Uncomment below if you prefer to use an image logo
        / <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        %h2
          I'm a passionate
          %span graphic designer
          from New York
        %nav.nav-menu.d-none.d-lg-block
          %ul
            %li.active
              %a{:href => "#header"} Home
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#resume"} Resume
            %li
              %a{:href => "#services"} Services
            %li
              %a{:href => "#portfolio"} Portfolio
            %li
              %a{:href => "#contact"} Contact
        / .nav-menu
        .social-links
          %a.twitter{:href => "#"}
            %i.icofont-twitter
          %a.facebook{:href => "#"}
            %i.icofont-facebook
          %a.instagram{:href => "#"}
            %i.icofont-instagram
          %a.google-plus{:href => "#"}
            %i.icofont-skype
          %a.linkedin{:href => "#"}
            %i.icofont-linkedin
    / End Header
    / ======= About Section =======
    %section#about.about
      / ======= About Me =======
      .about-me.container
        .section-title
          %h2 About
          %p Learn more about me
        .row
          .col-lg-4{"data-aos" => "fade-right"}
            %img.img-fluid{:alt => "", :src => "assets/img/me.jpg"}/
          .col-lg-8.pt-4.pt-lg-0.content{"data-aos" => "fade-left"}
            %h3 UI/UX & Graphic Designer
            %p.font-italic
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            .row
              .col-lg-6
                %ul
                  %li
                    %i.icofont-rounded-right
                    %strong Birthday:
                    1 May 1995
                  %li
                    %i.icofont-rounded-right
                    %strong Website:
                    www.example.com
                  %li
                    %i.icofont-rounded-right
                    %strong Phone:
                    +123 456 7890
                  %li
                    %i.icofont-rounded-right
                    %strong City:
                    City : New York, USA
              .col-lg-6
                %ul
                  %li
                    %i.icofont-rounded-right
                    %strong Age:
                    30
                  %li
                    %i.icofont-rounded-right
                    %strong Degree:
                    Master
                  %li
                    %i.icofont-rounded-right
                    %strong PhEmailone:
                    email@example.com
                  %li
                    %i.icofont-rounded-right
                    %strong Freelance:
                    Available
            %p
              Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
              Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
      / End About Me
      / ======= Counts =======
      .counts.container
        .row
          .col-lg-3.col-md-6
            .count-box
              %i.icofont-simple-smile
              %span{"data-toggle" => "counter-up"} 232
              %p Happy Clients
          .col-lg-3.col-md-6.mt-5.mt-md-0
            .count-box
              %i.icofont-document-folder
              %span{"data-toggle" => "counter-up"} 521
              %p Projects
          .col-lg-3.col-md-6.mt-5.mt-lg-0
            .count-box
              %i.icofont-live-support
              %span{"data-toggle" => "counter-up"} 1,463
              %p Hours Of Support
          .col-lg-3.col-md-6.mt-5.mt-lg-0
            .count-box
              %i.icofont-users-alt-5
              %span{"data-toggle" => "counter-up"} 15
              %p Hard Workers
      / End Counts
      / ======= Skills  =======
      .skills.container
        .section-title
          %h2 Skills
        .row.skills-content
          .col-lg-6
            .progress
              %span.skill
                HTML
                %i.val 100%
              .progress-bar-wrap
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "100", :role => "progressbar"}
            .progress
              %span.skill
                CSS
                %i.val 90%
              .progress-bar-wrap
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar"}
            .progress
              %span.skill
                JavaScript
                %i.val 75%
              .progress-bar-wrap
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "75", :role => "progressbar"}
          .col-lg-6
            .progress
              %span.skill
                PHP
                %i.val 80%
              .progress-bar-wrap
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar"}
            .progress
              %span.skill
                WordPress/CMS
                %i.val 90%
              .progress-bar-wrap
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "90", :role => "progressbar"}
            .progress
              %span.skill
                Photoshop
                %i.val 55%
              .progress-bar-wrap
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "55", :role => "progressbar"}
      / End Skills
      / ======= Interests =======
      .interests.container
        .section-title
          %h2 Interests
        .row
          .col-lg-3.col-md-4
            .icon-box
              %i.ri-store-line{:style => "color: #ffbb2c;"}
              %h3 Lorem Ipsum
          .col-lg-3.col-md-4.mt-4.mt-md-0
            .icon-box
              %i.ri-bar-chart-box-line{:style => "color: #5578ff;"}
              %h3 Dolor Sitema
          .col-lg-3.col-md-4.mt-4.mt-md-0
            .icon-box
              %i.ri-calendar-todo-line{:style => "color: #e80368;"}
              %h3 Sed perspiciatis
          .col-lg-3.col-md-4.mt-4.mt-lg-0
            .icon-box
              %i.ri-paint-brush-line{:style => "color: #e361ff;"}
              %h3 Magni Dolores
          .col-lg-3.col-md-4.mt-4
            .icon-box
              %i.ri-database-2-line{:style => "color: #47aeff;"}
              %h3 Nemo Enim
          .col-lg-3.col-md-4.mt-4
            .icon-box
              %i.ri-gradienter-line{:style => "color: #ffa76e;"}
              %h3 Eiusmod Tempor
          .col-lg-3.col-md-4.mt-4
            .icon-box
              %i.ri-file-list-3-line{:style => "color: #11dbcf;"}
              %h3 Midela Teren
          .col-lg-3.col-md-4.mt-4
            .icon-box
              %i.ri-price-tag-2-line{:style => "color: #4233ff;"}
              %h3 Pira Neve
          .col-lg-3.col-md-4.mt-4
            .icon-box
              %i.ri-anchor-line{:style => "color: #b2904f;"}
              %h3 Dirada Pack
          .col-lg-3.col-md-4.mt-4
            .icon-box
              %i.ri-disc-line{:style => "color: #b20969;"}
              %h3 Moton Ideal
          .col-lg-3.col-md-4.mt-4
            .icon-box
              %i.ri-base-station-line{:style => "color: #ff5828;"}
              %h3 Verdo Park
          .col-lg-3.col-md-4.mt-4
            .icon-box
              %i.ri-fingerprint-line{:style => "color: #29cc61;"}
              %h3 Flavor Nivelanda
      / End Interests
      / ======= Testimonials =======
      .testimonials.container
        .section-title
          %h2 Testimonials
        .owl-carousel.testimonials-carousel
          .testimonial-item
            %p
              %i.bx.bxs-quote-alt-left.quote-icon-left
              Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
              %i.bx.bxs-quote-alt-right.quote-icon-right
            %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-1.jpg"}/
            %h3 Saul Goodman
            %h4 Ceo & Founder
          .testimonial-item
            %p
              %i.bx.bxs-quote-alt-left.quote-icon-left
              Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
              %i.bx.bxs-quote-alt-right.quote-icon-right
            %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-2.jpg"}/
            %h3 Sara Wilsson
            %h4 Designer
          .testimonial-item
            %p
              %i.bx.bxs-quote-alt-left.quote-icon-left
              Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
              %i.bx.bxs-quote-alt-right.quote-icon-right
            %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-3.jpg"}/
            %h3 Jena Karlis
            %h4 Store Owner
          .testimonial-item
            %p
              %i.bx.bxs-quote-alt-left.quote-icon-left
              Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
              %i.bx.bxs-quote-alt-right.quote-icon-right
            %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-4.jpg"}/
            %h3 Matt Brandon
            %h4 Freelancer
          .testimonial-item
            %p
              %i.bx.bxs-quote-alt-left.quote-icon-left
              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
              %i.bx.bxs-quote-alt-right.quote-icon-right
            %img.testimonial-img{:alt => "", :src => "assets/img/testimonials/testimonials-5.jpg"}/
            %h3 John Larson
            %h4 Entrepreneur
      / End Testimonials
    / End About Section
    / ======= Resume Section =======
    %section#resume.resume
      .container
        .section-title
          %h2 Resume
          %p Check My Resume
        .row
          .col-lg-6
            %h3.resume-title Sumary
            .resume-item.pb-0
              %h4 Alice Barkley
              %p
                %em Innovative and deadline-driven Graphic Designer with 3+ years of experience designing and developing user-centered digital/print marketing material from initial concept to final, polished deliverable.
              %p
              %ul
                %li Portland par 127,Orlando, FL
                %li (123) 456-7891
                %li alice.barkley@example.com
            %h3.resume-title Education
            .resume-item
              %h4 Master of Fine Arts & Graphic Design
              %h5 2015 - 2016
              %p
                %em Rochester Institute of Technology, Rochester, NY
              %p Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend
            .resume-item
              %h4 Bachelor of Fine Arts & Graphic Design
              %h5 2010 - 2014
              %p
                %em Rochester Institute of Technology, Rochester, NY
              %p Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila
          .col-lg-6
            %h3.resume-title Professional Experience
            .resume-item
              %h4 Senior graphic design specialist
              %h5 2019 - Present
              %p
                %em Experion, New York, NY
              %p
              %ul
                %li Lead in the design, development, and implementation of the graphic, layout, and production communication materials
                %li Delegate tasks to the 7 members of the design team and provide counsel on all aspects of the project.
                %li Supervise the assessment of all graphic materials in order to ensure quality and accuracy of the design
                %li Oversee the efficient use of production project budgets ranging from $2,000 - $25,000
            .resume-item
              %h4 Graphic design specialist
              %h5 2017 - 2018
              %p
                %em Stepping Stone Advertising, New York, NY
              %p
              %ul
                %li Developed numerous marketing programs (logos, brochures,infographics, presentations, and advertisements).
                %li Managed up to 5 projects or tasks at a given time while under pressure
                %li Recommended and consulted with clients on the most appropriate graphic design
                %li Created 4+ design presentations and proposals a month for clients and account managers
    / End Resume Section
    / ======= Services Section =======
    %section#services.services
      .container
        .section-title
          %h2 Services
          %p My Services
        .row
          .col-lg-4.col-md-6.d-flex.align-items-stretch
            .icon-box
              .icon
                %i.bx.bxl-dribbble
              %h4
                %a{:href => ""} Lorem Ipsum
              %p Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi
          .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-md-0
            .icon-box
              .icon
                %i.bx.bx-file
              %h4
                %a{:href => ""} Sed ut perspiciatis
              %p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
          .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4.mt-lg-0
            .icon-box
              .icon
                %i.bx.bx-tachometer
              %h4
                %a{:href => ""} Magni Dolores
              %p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
          .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
            .icon-box
              .icon
                %i.bx.bx-world
              %h4
                %a{:href => ""} Nemo Enim
              %p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
            .icon-box
              .icon
                %i.bx.bx-slideshow
              %h4
                %a{:href => ""} Dele cardo
              %p Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur
          .col-lg-4.col-md-6.d-flex.align-items-stretch.mt-4
            .icon-box
              .icon
                %i.bx.bx-arch
              %h4
                %a{:href => ""} Divera don
              %p Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur
    / End Services Section
    / ======= Portfolio Section =======
    %section#portfolio.portfolio
      .container
        .section-title
          %h2 Portfolio
          %p My Works
        .row
          .col-lg-12.d-flex.justify-content-center
            %ul#portfolio-flters
              %li.filter-active{"data-filter" => "*"} All
              %li{"data-filter" => ".filter-app"} App
              %li{"data-filter" => ".filter-card"} Card
              %li{"data-filter" => ".filter-web"} Web
        .row.portfolio-container
          .col-lg-4.col-md-6.portfolio-item.filter-app
            .portfolio-wrap
              %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-1.jpg"}/
              .portfolio-info
                %h4 App 1
                %p App
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-1.jpg", :title => "App 1"}
                    %i.bx.bx-plus
                  %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                    %i.bx.bx-link
          .col-lg-4.col-md-6.portfolio-item.filter-web
            .portfolio-wrap
              %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-2.jpg"}/
              .portfolio-info
                %h4 Web 3
                %p Web
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-2.jpg", :title => "Web 3"}
                    %i.bx.bx-plus
                  %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                    %i.bx.bx-link
          .col-lg-4.col-md-6.portfolio-item.filter-app
            .portfolio-wrap
              %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-3.jpg"}/
              .portfolio-info
                %h4 App 2
                %p App
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-3.jpg", :title => "App 2"}
                    %i.bx.bx-plus
                  %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                    %i.bx.bx-link
          .col-lg-4.col-md-6.portfolio-item.filter-card
            .portfolio-wrap
              %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-4.jpg"}/
              .portfolio-info
                %h4 Card 2
                %p Card
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-4.jpg", :title => "Card 2"}
                    %i.bx.bx-plus
                  %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                    %i.bx.bx-link
          .col-lg-4.col-md-6.portfolio-item.filter-web
            .portfolio-wrap
              %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-5.jpg"}/
              .portfolio-info
                %h4 Web 2
                %p Web
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-5.jpg", :title => "Web 2"}
                    %i.bx.bx-plus
                  %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                    %i.bx.bx-link
          .col-lg-4.col-md-6.portfolio-item.filter-app
            .portfolio-wrap
              %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-6.jpg"}/
              .portfolio-info
                %h4 App 3
                %p App
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-6.jpg", :title => "App 3"}
                    %i.bx.bx-plus
                  %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                    %i.bx.bx-link
          .col-lg-4.col-md-6.portfolio-item.filter-card
            .portfolio-wrap
              %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-7.jpg"}/
              .portfolio-info
                %h4 Card 1
                %p Card
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-7.jpg", :title => "Card 1"}
                    %i.bx.bx-plus
                  %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                    %i.bx.bx-link
          .col-lg-4.col-md-6.portfolio-item.filter-card
            .portfolio-wrap
              %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-8.jpg"}/
              .portfolio-info
                %h4 Card 3
                %p Card
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-8.jpg", :title => "Card 3"}
                    %i.bx.bx-plus
                  %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                    %i.bx.bx-link
          .col-lg-4.col-md-6.portfolio-item.filter-web
            .portfolio-wrap
              %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-9.jpg"}/
              .portfolio-info
                %h4 Web 3
                %p Web
                .portfolio-links
                  %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-9.jpg", :title => "Web 3"}
                    %i.bx.bx-plus
                  %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                    %i.bx.bx-link
    / End Portfolio Section
    / ======= Contact Section =======
    %section#contact.contact
      .container
        .section-title
          %h2 Contact
          %p Contact Me
        .row.mt-2
          .col-md-6.d-flex.align-items-stretch
            .info-box
              %i.bx.bx-map
              %h3 My Address
              %p A108 Adam Street, New York, NY 535022
          .col-md-6.mt-4.mt-md-0.d-flex.align-items-stretch
            .info-box
              %i.bx.bx-share-alt
              %h3 Social Profiles
              .social-links
                %a.twitter{:href => "#"}
                  %i.icofont-twitter
                %a.facebook{:href => "#"}
                  %i.icofont-facebook
                %a.instagram{:href => "#"}
                  %i.icofont-instagram
                %a.google-plus{:href => "#"}
                  %i.icofont-skype
                %a.linkedin{:href => "#"}
                  %i.icofont-linkedin
          .col-md-6.mt-4.d-flex.align-items-stretch
            .info-box
              %i.bx.bx-envelope
              %h3 Email Me
              %p contact@example.com
          .col-md-6.mt-4.d-flex.align-items-stretch
            .info-box
              %i.bx.bx-phone-call
              %h3 Call Me
              %p +1 5589 55488 55
        %form.php-email-form.mt-4{:action => "forms/contact.php", :method => "post", :role => "form"}
          .form-row
            .col-md-6.form-group
              %input#name.form-control{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
              .validate
            .col-md-6.form-group
              %input#email.form-control{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "email"}/
              .validate
          .form-group
            %input#subject.form-control{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
            .validate
          .form-group
            %textarea.form-control{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
            .validate
          .mb-3
            .loading Loading
            .error-message
            .sent-message Your message has been sent. Thank you!
          .text-center
            %button{:type => "submit"} Send Message
    / End Contact Section
    -# .credits
    -#   / All the links in the footer should remain intact.
    -#   / You can delete the links only if you purchased the pro version.
    -#   / Licensing information: https://bootstrapmade.com/license/
    -#   / Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
    -#   Designed by
    -#   %a{:href => "https://bootstrapmade.com/"} BootstrapMade
