-# .container
-#   %h2 Movie index
-#
-# .container
-#   .row.list-group
-#     -@works.each do|work|
-#       .list-group-item
-#         =link_to "#{work.title} / #{work.author.name}(#{work.release})", work_path(work)
-#
-#   .row
-#     =link_to "Create New Work", new_work_path ,class: 'btn btn-primary'



/ ======= Portfolio Section =======
%section#portfolio.portfolio
  .container
    .section-title
      %h2 Portfolio
      %p Work List
    .row
      .col-lg-12.d-flex.justify-content-center
        %ul#portfolio-flters
          %li.filter-active{"data-filter" => "*"} All
          %li{"data-filter" => ".filter-app"} App
          %li{"data-filter" => ".filter-card"} Card
          %li{"data-filter" => ".filter-web"} Web

      -@works.each do|work|
        .col-lg-4.col-md-6.portfolio-item.filter-web
          .portfolio-wrap
            =image_tag work.image_url(:thumb), class: 'img-fluid'
            -# %img.img-fluid{:alt => "", :src => "assets/img/portfolio/portfolio-2.jpg"}/
            .portfolio-info
              %h4=link_to work.title, work_path(work)
              %p=work.author.name
              .portfolio-links
                %a.venobox{"data-gall" => "portfolioGallery", :href => "assets/img/portfolio/portfolio-2.jpg", :title => "Web 3"}
                  %i.bx.bx-plus
                %a.venobox{"data-gall" => "portfolioDetailsGallery", "data-vbtype" => "iframe", :href => "portfolio-details.html", :title => "Portfolio Details"}
                  %i.bx.bx-link
