=@work.title
=@work.author.name
=@work.release
=@work.description

=link_to "Back to Index", works_path
=link_to "Edit", edit_work_path(@work)
=link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure？"}
=link_to "Add new Work", new_work_path(author_id: @author.id)
