-@works.each do|work|
  ="Work："
  =link_to work.title, work_path(work)
  %br
  ="Author："
  =work.author
  %br
  ="Release："
  =work.release
  %br
  ="Description："
  =work.description
  %hr

=link_to "Create New Work", new_work_path
