=@work.title
=@work.author
=@work.release
=@work.description

=link_to "Back to Index", works_path
=link_to "Edit", edit_work_path(@work)
=link_to "Delete", work_path(@work), method: :delete, data: {confirm: "Are you sure？"}
