=@author.name
=@author.from


=link_to "Back to Index", authors_path
=link_to "Edit", edit_author_path(@author)
=link_to "Delete", author_path(@author), method: :delete, data: {confirm: "Are you sure？"}
