%header#header.header-tops
  .container
    %h1
      %a{:href => "index.html"} Emily Jones
    / Uncomment below if you prefer to use an image logo
    / <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
    %h2
      I'm a passionate
      %span graphic designer
      from New York
    %nav.nav-menu.d-none.d-lg-block
      %ul
        %li.active
          %a{:href => "#header"} Home
        %li
          %a{:href => "#about"} About
        %li
          %a{:href => "#resume"} Resume
        %li
          %a{:href => "#services"} Services
        %li
          %a{:href => "#portfolio"} Portfolio
        %li
          %a{:href => "#contact"} Contact
    / .nav-menu
    .social-links
      %a.twitter{:href => "#"}
        %i.icofont-twitter
      %a.facebook{:href => "#"}
        %i.icofont-facebook
      %a.instagram{:href => "#"}
        %i.icofont-instagram
      %a.google-plus{:href => "#"}
        %i.icofont-skype
      %a.linkedin{:href => "#"}
        %i.icofont-linkedin
