%section#contact.contact
  .container
    .section-title
      %h2 Contact
      %p Contact Me
    .row.mt-2
      .col-md-6.d-flex.align-items-stretch
        .info-box
          %i.bx.bx-map
          %h3 My Address
          %p 394 O'Connor Dr, Toronto, CA 
      .col-md-6.mt-4.mt-md-0.d-flex.align-items-stretch
        .info-box
          %i.bx.bx-share-alt
          %h3 Social Profiles
          .social-links
            %a.twitter{:href => "#"}
              %i.icofont-twitter
            %a.facebook{:href => "#"}
              %i.icofont-facebook
            %a.instagram{:href => "#"}
              %i.icofont-instagram
            %a.google-plus{:href => "#"}
              %i.icofont-skype
            %a.linkedin{:href => "#"}
              %i.icofont-linkedin
      .col-md-6.mt-4.d-flex.align-items-stretch
        .info-box
          %i.bx.bx-envelope
          %h3 Email Me
          %p toru0722@gmail.com
      .col-md-6.mt-4.d-flex.align-items-stretch
        .info-box
          %i.bx.bx-phone-call
          %h3 Call Me
          %p +1 647 913 6240
    %form.php-email-form.mt-4{:action => "forms/contact.php", :method => "post", :role => "form"}
      .form-row
        .col-md-6.form-group
          %input#name.form-control{"data-msg" => "Please enter at least 4 chars", "data-rule" => "minlen:4", :name => "name", :placeholder => "Your Name", :type => "text"}/
          .validate
        .col-md-6.form-group
          %input#email.form-control{"data-msg" => "Please enter a valid email", "data-rule" => "email", :name => "email", :placeholder => "Your Email", :type => "email"}/
          .validate
      .form-group
        %input#subject.form-control{"data-msg" => "Please enter at least 8 chars of subject", "data-rule" => "minlen:4", :name => "subject", :placeholder => "Subject", :type => "text"}/
        .validate
      .form-group
        %textarea.form-control{"data-msg" => "Please write something for us", "data-rule" => "required", :name => "message", :placeholder => "Message", :rows => "5"}
        .validate
      .mb-3
        .loading Loading
        .error-message
        .sent-message Your message has been sent. Thank you!
      .text-center
        %button{:type => "submit"} Send Message
/ End Contact Section
