%nav.nav-menu.d-none.d-lg-block
  %ul
    %li.active
      %a{:href => "#header"} Home
    %li
      %a{:href => "#about"} About
    %li
      %a{:href => "#resume"} Resume
    %li
      %a{:href => "#services"} Services
    %li
      %a{:href => "#portfolio"} Portfolio
    %li
      %a{:href => "#contact"} Contact
