.container
  %h1
    %a{:href => "top"} Literature Log
  %h2
    I'm Just a
    %span Book Lover
    from Japan
  %nav.nav-menu.d-none.d-lg-block
    %ul
      -# %li.active
      -#   %a{:href => "top"} Home
      %li
        %a{:href => "works#portfolio"} Works
      %li
        %a{:href => "authors#portfolio"} Authors
      %li
        %a{:href => "#services"} Sign in/up
      -# %li
      -#   %a{:href => "#portfolio"} sign up
      %li
        %a{:href => "contacts#contact"} Contact

-# %header#header.header-tops
-# -#
-# //= require jquery/jquery.min
-# //= require jquery_ujs
-# //= require bootstrap/js/bootstrap.bundle.min
-# //= require jquery.easing/jquery.easing.min
-# //= require php-email-form/validate
-# //= require waypoints/jquery.waypoints.min
-# //= require counterup/counterup.min
-# //= require owl.carousel/owl.carousel.min
-# //= require isotope-layout/isotope.pkgd.min
-# //= require venobox/venobox.min
-# //= require main
-# //= require common
