%nav.nav-menu.d-none.d-lg-block
  %ul
    %li.active
      %a{:href => "top"} Home
    %li
      %a{:href => "works#portfolio"} Works
    %li
      %a{:href => "authors#portfolio"} Authors
    %li
      %a{:href => "#services"} Sign in
    %li
      %a{:href => "#portfolio"} sign up
    %li
      %a{:href => "contacts#contact"} Contact
